<div>
  <div class="row centered">
    <div class="col col-6">
      <h2>SSL pricelist</h2>
      <table *ngIf="pricelist">
        <tbody>
          <tr *ngFor="let item of pricelist; let i = index">
            <td>
              <a (mouseenter)="mouseEnter(i)" class="popover" popover="Popover" popoverPlacement="auto" [popoverComponent]="getDynamicInput()"
                [attr.data-index]="i">{{ item.name }}</a>
            </td>
            <td> от {{ item.price.period[0].cost }} {{ item.price.currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>